node_modules/
.env
uploads/
*.log
firebase-service-account.json
firebase-service-account.json.json
*firebase-adminsdk*.json
migration-report.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
